@import '../../../styles/main.scss';

.btn {
  display: inline-block;
  width: 100%;
  padding: 0 10px;
  border: none;
  opacity: 1;
  border-radius: 4px;

  &:hover {
    opacity: 0.9;
  }

  &[theme='yellow'] {
    background-color: $yellow;
    color: $white;
  }

  &[theme='gray'] {
    background-color: $tertiary;
    color: $white;
  }

  &[theme='blue'] {
    background-color: $blue;
    color: $white;
  }

  &[active='true'] {
    font-weight: bold;
    background-color: $secondary;
  }

  &[size='32'] {
    @include text-style(14);
    height: 32px;
  }

  &[size='40'] {
    @include text-style(16);
    height: 40px;
  }

  &[size='48'] {
    @include text-style(16);
    height: 48px;
  }

  &[size='55'] {
    @include text-style(18);
    height: 55px;
  }
}
