@import '../../../styles/main.scss';

.input {
  width: 400px;
  height: 40px;
  // border: 1px solid $secondary;
  border-radius: 4px;
  padding-left: 10px;

  &[theme='bg'] {
    background-color: $lightGray;
  }

  &[theme='outline'] {
    border: 1px solid $secondary;
    &:hover {
      background-color: $background;
    }
  }

  @include text-style(16);

  &::placeholder {
    color: $tertiary;
  }
}
